body {
  font-family: sans-serif;
}

p {
  color: rgb(65, 65, 65);
  margin: 0 6px;
}

li {
  list-style: square;
}

input {
  padding: 0 4px;
  width: 110px;
  height: 25px;
  border: none;
  border-radius: 8px;
}

select {
  padding: 0 4px;
  width: 85px;
  height: 25px;
  border: none;
  border-radius: 8px;
  text-align: center;
}

button {
  height: 25px;
  border: none;
  border-radius: 8px;
  padding: 0 8px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.title {
  font-weight: bold;
  text-align: center;
}

.input-area {
  background-color: rgb(187, 238, 69);
  width: 500px;
  height: 100px;
  margin: 4px auto;
  padding: 4px;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.fridge-area {
  background-color: rgb(69, 170, 238);
  width: 500px;
  min-height: 200px;
  margin: 8px auto;
  padding: 4px;
  border-radius: 7px;
}

.freezer-area {
  background-color: rgb(69, 199, 238);
  width: 500px;
  min-height: 200px;
  margin: 8px auto;
  padding: 4px;
  border-radius: 7px;
}

.veggie-area {
  background-color: rgb(69, 238, 215);
  width: 500px;
  min-height: 200px;
  margin: 8px auto;
  padding: 4px;
  border-radius: 7px;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
